.body_Contanier
{
    position: fixed;
    left:37%;
    bottom: 20%;
}

.contanier
{
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cont
{
    width:132px;
    height: 132px;
    border: 1px solid black;
}

.box1,.box2,.box3
{
    border-top: none;
}
.box1,.box4,.box7
{
    border-left:none ;
}

.box3,.box6,.box9{
    border-right: none;
}
.box7,.box8,.box9
{
    border-bottom: none;
}